body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 96%;
    max-width: 960px;
    margin: 5% auto;
    padding: 0;
}
section{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    font-size: 40px;
    margin: 0 0 -5px 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #00cc6a;
    letter-spacing: 4px;
}
input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #00cc6a;
    color: #00cc6a;
    font-weight: 700;
    font-size: 14px;
}
::placeholder{
    color: grey;
}
button{
    width: 413px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    background: #00cc6a;
    color: #fff;
    border: 2px solid #00cc6a;
}
button:hover{
    background: #fff;
    color: #00cc6a;
    border: 2px solid #00cc6a;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.error{
    color: crimson;
}
.succes{
    color: #00cc6a;
}